.mainLayout {
  display: flex;
  min-height: 100vh;

  margin: 0 60px;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
}

.managmentText {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
